# Zephyr / west build artifacts
build/
build-*/
*.uf2
*.hex
*.bin
*.elf
*.map

# west workspace metadata
.west/
zephyr/
modules/
bootloader/
tools/
nrf/

.vscode/
*.code-workspace
.idea/

.dist/

CLAUDE.md

.venv/
venv/